@font-face {
    font-family: 'Montserrat';
    src: url('SpaceGrotesk-Light.eot');
    src: local('Space Grotesk Light'), local('SpaceGrotesk-Light'),
        url('SpaceGrotesk-Light-1.eot') format('embedded-opentype'),
        url('SpaceGrotesk-Light.html') format('woff2'),
        url('SpaceGrotesk-Light.woff') format('woff'),
        url('SpaceGrotesk-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('SpaceGrotesk-Bold.eot');
    src: local('Space Grotesk Bold'), local('SpaceGrotesk-Bold'),
        url('SpaceGrotesk-Bold-1.eot') format('embedded-opentype'),
        url('SpaceGrotesk-Bold.html') format('woff2'),
        url('SpaceGrotesk-Bold.woff') format('woff'),
        url('SpaceGrotesk-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('SpaceGrotesk-Medium.eot');
    src: local('Space Grotesk Medium'), local('SpaceGrotesk-Medium'),
        url('SpaceGrotesk-Medium-1.eot') format('embedded-opentype'),
        url('SpaceGrotesk-Medium.html') format('woff2'),
        url('SpaceGrotesk-Medium.woff') format('woff'),
        url('SpaceGrotesk-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('SpaceGrotesk-SemiBold.eot');
    src: local('Space Grotesk SemiBold'), local('SpaceGrotesk-SemiBold'),
        url('SpaceGrotesk-SemiBold-1.eot') format('embedded-opentype'),
        url('SpaceGrotesk-SemiBold.html') format('woff2'),
        url('SpaceGrotesk-SemiBold.woff') format('woff'),
        url('SpaceGrotesk-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('SpaceGrotesk-Regular.eot');
    src: local('Space Grotesk Regular'), local('SpaceGrotesk-Regular'),
        url('SpaceGrotesk-Regular-1.eot') format('embedded-opentype'),
        url('SpaceGrotesk-Regular.html') format('woff2'),
        url('SpaceGrotesk-Regular.woff') format('woff'),
        url('SpaceGrotesk-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

